In [1]:
import pandas as pd

In [4]:
df = pd.read_csv( "data.csv" )
df1 = pd.read_csv( "data_only_excess_W.csv" )

In [5]:
df1

,date,XS1,XS2,XS3,XS4,XS5,XS6,XS7,XS8,XS9,...,XS1_W,XS2_W,XS3_W,XS4_W,XS5_W,XS6_W,XS7_W,XS8_W,XS9_W,XS10_W
0,1980-10-01,0.017922,-0.009150,0.014000,0.009293,-0.007652,0.005475,0.017137,0.034727,0.018790,...,0.017922,-0.009150,0.014000,0.009293,-0.007652,0.005475,0.017137,0.034727,0.018790,0.035319
1,1980-11-01,-0.007557,-0.000066,-0.030593,0.010454,-0.016797,-0.013021,-0.010041,-0.005613,-0.012551,...,-0.007557,-0.000066,-0.030593,0.010454,-0.016797,-0.013021,-0.010041,-0.005613,-0.012551,-0.009353
2,1980-12-01,-0.022945,-0.037791,-0.024994,-0.055426,-0.059027,-0.049376,-0.035560,-0.055456,-0.038249,...,-0.022945,-0.037791,-0.024994,-0.055426,-0.059027,-0.049376,-0.035560,-0.055456,-0.038249,-0.052577
3,1981-01-01,0.030309,0.006893,0.010548,0.012019,0.006078,-0.010988,0.006213,0.004751,-0.032596,...,0.030309,0.006893,0.010548,0.012019,0.006078,-0.010988,0.006213,0.004751,-0.032596,-0.013327
4,1981-02-01,0.033886,0.031022,0.047687,0.047271,0.060265,0.044694,0.056911,0.062763,0.087690,...,0.033886,0.031022,0.047687,0.047271,0.060265,0.044694,0.056911,0.062763,0.087690,0.064117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,2010-08-01,0.054876,0.041503,0.007200,0.008569,0.013398,0.000465,-0.023746,0.005615,-0.008254,...,0.054876,0.041503,0.007200,0.008569,0.013398,0.000465,-0.023746,0.005615,-0.008254,0.003012
359,2010-09-01,-0.048385,0.031603,0.079652,0.095341,0.085522,0.084248,0.077417,0.068885,0.084115,...,-0.048385,0.031603,0.079652,0.095341,0.085522,0.084248,0.077417,0.068885,0.084115,0.072092
360,2010-10-01,0.042718,0.067879,0.061084,0.032656,0.014133,0.026350,0.038495,0.033635,0.034320,...,0.042718,0.067879,0.061084,0.032656,0.014133,0.026350,0.038495,0.033635,0.034320,0.028780
361,2010-11-01,-0.004099,-0.006192,-0.015904,-0.013577,-0.053309,-0.024685,-0.016055,-0.015095,-0.023077,...,-0.004099,-0.006192,-0.015904,-0.013577,-0.053309,-0.024685,-0.016055,-0.015095,-0.023077,-0.014842
362,2010-12-01,0.073148,0.097052,0.091842,0.058285,0.104408,0.116149,0.086186,0.103392,0.080433,...,0.073148,0.097052,0.091842,0.058285,0.104408,0.116149,0.086186,0.103392,0.080433,0.080552

In [18]:
months = [
"1980m10","1980m11","1980m12","1981m1","1981m2","1981m3","1981m4","1981m5","1981m6","1981m7","1981m8","1981m9","1981m10","1981m11","1981m12",
"1982m1","1982m2","1982m3","1982m4","1982m5","1982m6","1982m7","1982m8","1982m9","1982m10","1982m11","1982m12",
"1983m1","1983m2","1983m3","1983m4","1983m5","1983m6","1983m7","1983m8","1983m9","1983m10","1983m11","1983m12",
"1984m1","1984m2","1984m3","1984m4","1984m5","1984m6","1984m7","1984m8","1984m9","1984m10","1984m11","1984m12",
"1985m1","1985m2","1985m3","1985m4","1985m5","1985m6","1985m7","1985m8","1985m9","1985m10","1985m11","1985m12",
"1986m1","1986m2","1986m3","1986m4","1986m5","1986m6","1986m7","1986m8","1986m9","1986m10","1986m11","1986m12",
"1987m1","1987m2","1987m3","1987m4","1987m5","1987m6","1987m7","1987m8","1987m9","1987m10","1987m11","1987m12",
"1988m1","1988m2","1988m3","1988m4","1988m5","1988m6","1988m7","1988m8","1988m9","1988m10","1988m11","1988m12",
"1989m1","1989m2","1989m3","1989m4","1989m5","1989m6","1989m7","1989m8","1989m9","1989m10","1989m11","1989m12",
"1990m1","1990m2","1990m3","1990m4","1990m5","1990m6","1990m7","1990m8","1990m9","1990m10","1990m11","1990m12",
"1991m1","1991m2","1991m3","1991m4","1991m5","1991m6","1991m7","1991m8","1991m9","1991m10","1991m11","1991m12",
"1992m1","1992m2","1992m3","1992m4","1992m5","1992m6","1992m7","1992m8","1992m9","1992m10","1992m11","1992m12",
"1993m1","1993m2","1993m3","1993m4","1993m5","1993m6","1993m7","1993m8","1993m9","1993m10","1993m11","1993m12",
"1994m1","1994m2","1994m3","1994m4","1994m5","1994m6","1994m7","1994m8","1994m9","1994m10","1994m11","1994m12",
"1995m1","1995m2","1995m3","1995m4","1995m5","1995m6","1995m7","1995m8","1995m9","1995m10","1995m11","1995m12",
"1996m1","1996m2","1996m3","1996m4","1996m5","1996m6","1996m7","1996m8","1996m9","1996m10","1996m11","1996m12",
"1997m1","1997m2","1997m3","1997m4","1997m5","1997m6","1997m7","1997m8","1997m9","1997m10","1997m11","1997m12",
"1998m1","1998m2","1998m3","1998m4","1998m5","1998m6","1998m7","1998m8","1998m9","1998m10","1998m11","1998m12",
"1999m1","1999m2","1999m3","1999m4","1999m5","1999m6","1999m7","1999m8","1999m9","1999m10","1999m11","1999m12",
"2000m1","2000m2","2000m3","2000m4","2000m5","2000m6","2000m7","2000m8","2000m9","2000m10","2000m11","2000m12",
"2001m1","2001m2","2001m3","2001m4","2001m5","2001m6","2001m7","2001m8","2001m9","2001m10","2001m11","2001m12",
"2002m1","2002m2","2002m3","2002m4","2002m5","2002m6","2002m7","2002m8","2002m9","2002m10","2002m11","2002m12",
"2003m1","2003m2","2003m3","2003m4","2003m5","2003m6","2003m7","2003m8","2003m9","2003m10","2003m11","2003m12",
"2004m1","2004m2","2004m3","2004m4","2004m5","2004m6","2004m7","2004m8","2004m9","2004m10","2004m11","2004m12",
"2005m1","2005m2","2005m3","2005m4","2005m5","2005m6","2005m7","2005m8","2005m9","2005m10","2005m11","2005m12",
"2006m1","2006m2","2006m3","2006m4","2006m5","2006m6","2006m7","2006m8","2006m9","2006m10","2006m11","2006m12",
"2007m1","2007m2","2007m3","2007m4","2007m5","2007m6","2007m7","2007m8","2007m9","2007m10","2007m11","2007m12",
"2008m1","2008m2","2008m3","2008m4","2008m5","2008m6","2008m7","2008m8","2008m9","2008m10","2008m11","2008m12",
"2009m1","2009m2","2009m3","2009m4","2009m5","2009m6","2009m7","2009m8","2009m9","2009m10","2009m11","2009m12",
"2010m1","2010m2","2010m3","2010m4","2010m5","2010m6","2010m7","2010m8","2010m9","2010m10","2010m11","2010m12"]

In [19]:
dates = pd.DataFrame(months, columns=["month"])
df["date"] = pd.to_datetime(dates["month"].str.replace("m", "-", regex=False) + "-01")

In [21]:
df = df[["date"] + [col for col in df.columns if col != "date"]]

In [30]:
df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))

C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))
C:\Users\Lika44\AppData\Local\Temp\ipykernel_9256\1454807584.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(lambda col: pd.to_numeric(col.astype(str).str.replace(',', '.', regex=False), errors='ignore'))

In [23]:
df = df.drop("month", axis=1)

In [27]:
df = df.drop( "Unnamed: 17", axis=1 )

In [32]:
df.to_csv( "data.csv", index=False )

In [7]:
XS = ["XS1_W", "XS2_W", "XS3_W", "XS4_W", "XS5_W", "XS5_W", "XS6_W", "XS7_W", "XS8_W", "XS9_W", "XS10_W"]

In [8]:
xs_W = df1[XS]

In [9]:
xs_W

,XS1_W,XS2_W,XS3_W,XS4_W,XS5_W,XS5_W,XS6_W,XS7_W,XS8_W,XS9_W,XS10_W
0,0.017922,-0.009150,0.014000,0.009293,-0.007652,-0.007652,0.005475,0.017137,0.034727,0.018790,0.035319
1,-0.007557,-0.000066,-0.030593,0.010454,-0.016797,-0.016797,-0.013021,-0.010041,-0.005613,-0.012551,-0.009353
2,-0.022945,-0.037791,-0.024994,-0.055426,-0.059027,-0.059027,-0.049376,-0.035560,-0.055456,-0.038249,-0.052577
3,0.030309,0.006893,0.010548,0.012019,0.006078,0.006078,-0.010988,0.006213,0.004751,-0.032596,-0.013327
4,0.033886,0.031022,0.047687,0.047271,0.060265,0.060265,0.044694,0.056911,0.062763,0.087690,0.064117
...,...,...,...,...,...,...,...,...,...,...,...
358,0.054876,0.041503,0.007200,0.008569,0.013398,0.013398,0.000465,-0.023746,0.005615,-0.008254,0.003012
359,-0.048385,0.031603,0.079652,0.095341,0.085522,0.085522,0.084248,0.077417,0.068885,0.084115,0.072092
360,0.042718,0.067879,0.061084,0.032656,0.014133,0.014133,0.026350,0.038495,0.033635,0.034320,0.028780
361,-0.004099,-0.006192,-0.015904,-0.013577,-0.053309,-0.053309,-0.024685,-0.016055,-0.015095,-0.023077,-0.014842
362,0.073148,0.097052,0.091842,0.058285,0.104408,0.104408,0.116149,0.086186,0.103392,0.080433,0.080552

In [11]:
df_final = pd.concat( [df, xs_W], axis=1 )

In [14]:
df_final.to_csv( "data_W.csv", index=False )